<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-item">
          <i class="fas fa-shipping-fast"> </i>
          Fast Delivery
        </div>
        <div class="col-md-3 footer-item">
          <i class="fas fa-undo"> </i>
          Easy returns
        </div>
        <div class="col-md-3 footer-item">
          <i class="fas fa-shield-alt"> </i>
          Guarantee
        </div>
        <div class="col-md-3 footer-item">
          <i class="fas fa-lock"> </i>
          100% Secure Checkout
        </div>
      </div>
    </div>
  </div>