<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img alt="SHJ Store Logo" height="40" src=" " width="40" />
    </a>
    <button
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      data-bs-target="#navbarNav"
      data-bs-toggle="collapse"
      type="button"
    >
      <span class="navbar-toggler-icon"> </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('home')}}"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('special_gift_combos') }}"
            >Special Gift Combos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('customized_items') }}"
            >Customized Items</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('all_products') }}"
            >All Products</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('new_on_sale') }}"
            >New on sale</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('help') }}">Help</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
